/*헤드 타이틀 폰트*/
@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*본문 폰트*/
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*전체 적용*/
* {
  font-family: 'SUIT-Regular';
  margin: 0 auto;
}

/*본문 외 배경 영역*/
body {
  background-color: #F9F9F9;
}

/*본문 감싸는 영역(헤더~푸터)*/
.container {
  width: 1280px;
}

/*본문 영역 크기 및 배경*/
.allcontent {
  width: 960px;
  background-color: white;
}

/*-----------------헤더 시작-----------------*/

/*헤더 전체 위치 및 크기*/
.header {
  position: relative;
  width: 960px;
}

.head {
  width: 960px;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #7DB249;
}

/*로고 이미지*/
.logo {
  width: 54px;
  height: 55px;
  float: left;
  position: relative;
  top: 3px;
  left: 5px;
}

.logo:hover {
  cursor: pointer;
}

/*로고 타이틀*/
.logotitle {
  float: left;
  color: white;
  font-size: 30px;
  font-family: 'Cafe24Ssurround';
  position: relative;
  top: 14px;
  left: 3px;
}

.logotitle:hover {
  cursor: pointer;
}

/*로그인 아이콘 이미지*/
.userlogo {
  width: 63px;
  height: 63px;
  float: right;
  position: relative;
  bottom: 2px;
  right: 5px;
}

.userlogo:hover {
  cursor: pointer;
}

/*마우스 오버 시 드롭다운 메뉴*/

.login ul {
  list-style: none;
  width: 150px;
  float: right;
}

.login a {
  text-decoration: none;
}

.login>li {
  list-style: none;
}

.login>li>a {
  display: block;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  color: #fff;
}

.login>li:hover .menu {
  display: block;
}

.login .menu {
  display: none;
  position: absolute;
  left: 770px;
  top: 50px;
  text-align: center;
}

.login .menu a {
  display: block;
  padding: 5px;
  background-color:rgba(125, 178, 73, 0.7);/*까만색(0,0,0) 80% 불투명도*/
  color: #fff;
}

/*-----------------헤더 끝-----------------*/


/*-----------------이미지 클릭 슬라이드 시작-----------------*/
.main_img {
  margin-top: 60px;
  border: 1px solid transparent;
}

#zoom_img {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 40px;
}

.zoomimg {
  width: 720px;
  height: 480px;
}

.thumb {
  text-align: center;
}

.thumb li {
  list-style: none;
  display: inline-block;
  position: relative;
  right: 20px;
  bottom: 10px;
}

.thumb li a,
.thumb li a img {
  width: 140px;
  height: 90px;
  display: block;
}

.thumb li.on a {
  border: 2px solid #FAAE58;
  width: 140px;
  height: 90px;
}

/*-----------------이미지 클릭 슬라이드 끝-----------------*/

/*-----------------메인 타이틀 시작-----------------*/

.main_title {
  width: 850px;
  border: 1px solid transparent;
}

/*메인 타이틀 해쉬태그 위치*/
.reco_hashtag {
  display: flex;
  width: 300px;
  position: relative;
  right: 280px;
}

/*메인 타이틀 해쉬태그 스타일*/
.hashtag {
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  padding: 3px;
  font-size: 12px;
}

/*주소*/
.address {
  margin-top: 5px;
}

#myInput {
  border: none;
  font-size: 16px;
  outline: none;
  width: 700px;
}

.address button {
  border: 1px solid #D9D9D9;
  background-color: white;
  border-radius: 3px;
  width: 90px;
  height: 26px;
  position: relative;
  bottom: 1px;
  float: right;
  right: 20px;
}

.address button img {
  width: 22px;
  height: 22px;
  position: relative;
  right: 2px;
}

.address p {
  display: inline;
  position: relative;
  bottom: 5px;
}

.price {
  color: #F27226;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.visit {
  border-radius: 20px;
  background-color: #F8F8FA;
  width: 700px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 30px;
}

.visit span {
  color: #F27226;
  font-weight: bold;
}

/*-----------------메인 타이틀 끝-----------------*/

/*-----------------캠핑장 소개 시작-----------------*/

.intro {
  font-size: 17px;
  position: relative;
  left: 50px;
  float: left;
}

.intro_detail {
  position: relative;
  top: 50px;
  border-bottom: 10px solid #ededed;
}

.box {
  margin-bottom: 60px;
}

.content {
  width: 850px;
  border: 1px solid #ddd;
  white-space: pre-line;
  font-family: 'SUIT-Regular';
  text-align: left;
  color: #767676;
  padding: 10px;
}

.more {
  color: #3c3646;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-image: url(image/down1.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: 80px;
  background-color: #f5f5f5;
  display: block;
  width: 128px;
  height: 32px;
  text-align: center;
  text-indent: -18px;
  line-height: 30px;
  font-size: 17px;
  text-decoration: none;
  margin-top: 50px;
}

.short {
  background-image: url(image/up1.png);
}

/*-----------------캠핑장 소개 끝-----------------*/

/*-----------------이용안내 시작-----------------*/
.intro1 {
  font-size: 17px;
  position: relative;
  left: 50px;
  top: 100px;
  float: left;
}

.basic_information {
  position: relative;
  top: 110px;
}

.icon_txt {
  font-size: 13px;
  border-bottom: 1px solid #ededed;
  height: 430px;
}

dt {
  float: left;
  clear: left;
  width: 100px;
  position: relative;
  left: 20px;
}

dd {
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}

.icon {
  width: 60px;
}

.icon img {
  width: 50px;
  height: 50px;
  display: block;
}

.txt {
  color: #767676;
  font-size: 12px;
  width: 60px;
  text-align: center;
}

/*-----------------이용안내 끝-----------------*/


/*-----------------예약정보 시작-----------------*/
.reservation_information {
  height: 300px;
  border-bottom: 1px solid #ededed;
  margin-top: 150px;
}

.tit {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.35px;
  color: #f27226;
  margin-bottom: 10px;
  margin-left: 60px;
  margin-top: 40px;
}

.reser_info {
  font-size: 13px;
  height: 400px;
}

.txt2 {
  color: #767676;
  font-size: 13px;
  margin-left: 50px;
}

/*-----------------예약정보 끝-----------------*/

/*-----------------이용안내 중 이용시간 안내 시작-----------------*/

.time_information {
  height: 240px;
  border-bottom: 1px solid #ededed;
}

.time_detail {
  display: flex;
  height: 50px;
  width: 600px;
  border-radius: 25px;
  background: #F8F8FA;
  margin-top: 30px;
}

.camtime {
  border-radius: 25px;
  width: 90px;
  height: 50px;
  position: relative;
  right: 60px;
  background: #F2C292;

  line-height: 50px;
  text-align: center;
  color: white;
}

.mannertime {
  border-radius: 25px;
  width: 90px;
  height: 50px;
  position: relative;
  right: 60px;
  background: #B1D690;
  line-height: 50px;
  text-align: center;
  color: white;
}

.in {
  line-height: 50px;
  text-align: center;
  position: relative;
  right: 60px;
}

.out {
  line-height: 50px;
  text-align: center;
  position: relative;
  right: 60px;
}

hr {
  height: 20px;
  width: 1.5px;
  border-width: 0;
  background-color: grey;
  position: relative;
  top: 15px;
  right: 50px;
}

.t_inout,
.t_manner {
  font-size: 20px;
  line-height: 50px;
  font-weight: bold;
  margin-left: 10px;
  white-space: nowrap;
}

.t_inout {
  color: #F27226;
}

.t_manner {
  color: #7DB249;
}

/*-----------------이용안내 중 이용시간 안내 끝-----------------*/

/*-----------------이용안내 중 약도 시작-----------------*/

#map {
  width: 700px;
  height: 300px;
}

.maptitle {
  border-bottom: 10px solid #ededed;
  height: 430px;
}

/*-----------------이용안내 중 약도 끝-----------------*/

/*-----------------푸터 시작-----------------*/

/*헤더 전체 위치 및 크기*/
.footer {
  position: relative;
  width: 960px;
}

.foot {
  width: 960px;
  height: 60px;
  position: fixed;
  bottom: 0;
  z-index: 999;
  background: #fff;
  justify-content: space-between;
  box-shadow: 0 -6px 6px 0 rgb(0 0 0 / 5%);
}

button img {
  width: 30px;
  height: 30px;
}

.foot {
  display: flex;
  justify-content: space-between;
}

.foot_btn {
  display: flex;
  margin: 5px;
  position: relative;
  left: 70px;
  top: 3px;
}

.share button,
.heart button {
  border: solid 1px #707070;
  background: #fff;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  margin-left: 10px;
}

.share button:hover,
.heart button:hover {
  cursor: pointer;
}

.reservation_click {
  width: 700px;
}

.reservation_click button {
  width: 100%;
  border-radius: 5px;
  height: 45px;
  background: #7EB347;
  border: none;
  position: relative;
  top: 9px;
  left: 5px;
}

.reservation_click button:hover {
  cursor: pointer;
}

/*-----------------예약하기 모달창 시작-----------------*/
.openBtn {
  background-color: #F9B514;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
  position: absolute;
  background-color: #fff;
  width: 950px;
  height: 80px;
  padding: 15px;
  bottom: 0;
  border-radius: 40px 40px 0 0;
}

.btn_log_close {
  width: 500px;
  display: flex;
  position: relative;
  top: 5px;
}

.modalBox p {
  border-radius: 5px;
  width: 800px;
  font-size: 22px;
  text-align: center;
}

.modalBox button {
  width: 200px;
  height: 35px;
  color: white;
  font-size: 17px;
}

.btn_log_close a {
  text-decoration: none;
  color: white;
}


.hidden {
  display: none;
}

/*-----------------예약하기 모달창 끝-----------------*/




/*-----------------푸터 끝-----------------*/