/*본문 폰트*/
@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*헤드 타이틀 폰트*/
@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SUIT-Regular';
}

/*링크부분 스타일*/
a {
  text-decoration: none;
  color: black;
}

/*전체 배경영역*/
.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
}

/*로그인 박스 영역*/
.login {
  width: 450px;
  height: 600px;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login img {
  width: 40px;
  height: 40px;
}

/*타이틀 스타일*/
h2 {
  color: #7DB249;
  font-size: 2em;
  font-family: 'Cafe24Ssurround';
}

/*아이디 입력란*/
.login_id {
  margin-top: 20px;
  width: 360px;
}

.login_id input {
  width: 100%;
  height: 50px;
  margin-top: 15px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
  background-color: #F2F2F2;
}

/*패스워드 입력란*/
.login_pw input {
  width: 360px;
  height: 50px;
  margin-top: 15px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
  background-color: #F2F2F2;
}

/*체크박스 영역*/
.login_etc {
  padding: 10px;
  width: 360px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.checkbox input {
  accent-color: #7DB249;
}

/*회원가입 메세지*/
.message {
  position: relative;
  font-size: 14px;
  margin-bottom: 50px;
  top: 40px;
  
}

/*회원가입 링크*/
.message a {
  color: #7DB249;
  font-weight: bold;
}

/*로그인 버튼*/
.submit input {
  width: 360px;
  height: 35px;
  border: 0;
  outline: none;
  background:#7DB249;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 1px;
  
}

.submit input:hover {
  cursor: pointer;
}

/*SNS 로그인 영역 시작 라인*/
.line {
  margin: 15px;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.35);
}

.line::before {
  display: inline-block;
  margin: 0 10px 3px 0;
  height: 1px;
  content: " ";
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0.35);
  width: 115px;
}

.line::after {
  display: inline-block;
  margin: 0 0 3px 10px;
  height: 1px;
  content: " ";
  text-shadow: none;
  background-color: rgba(0, 0, 0, 0.35);
  width: 115px;
}

/*SNS 로그인 */
.sns_login input {
  width: 360px;
  height: 35px;
  margin-top: 5px;
  border: 0;
  outline: none;
  margin-right: 30px;
}

/*카카오 input*/
.kakao {
  background-color: #FEE500;
  color: #181600;
  font-size: 0.9em;
  font-weight: bold;
}

/*SNS-카카오/네이버 이미지*/
.kakao_login img, .naver_login img {
  width: 30px;
  height: 30px;
  position: relative;
  left: 40px;
  top: 10px;
}

/*네이버 input*/
.naver {
  background-color: #03C75A;
  color: #FFFFFF;
  font-size: 0.9em;
  font-weight: bold;
}

.kakao_login:hover, .kakao_login input:hover, .naver_login:hover, .naver_login input:hover {
  cursor: pointer;
}

